{% extends 'layout.twig' %}
{% block body %}
    <section id="main" class="index">
        <img src="{{ app.request.basepath }}/img/logo.jpg" alt="City Arms" />
        <form id="url-form" action="" method="get">
            <input type="text" name="url" id="url" value="" placeholder="{{ defaultUrl }}" />
            <button id="show-button">Show Balance</button>
        </form>
        <h1 id="balance"></h1>
    </section>

    <footer><a href="{{ app.request.basepath }}/wtf">WTF?</a></footer>
{% endblock %}